<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="common" verbose="1">
	<test name="concurrent">
		<packages>
			<package name="de.schnittstabil.common.concurrent" />
		</packages>
	</test>
	<test name="io">
		<packages>
			<package name="de.schnittstabil.common.io" />
		</packages>
	</test>
	<test name="lang">
		<packages>
			<package name="de.schnittstabil.common.lang" />
		</packages>
	</test>
	<test name="util">
		<packages>
			<package name="de.schnittstabil.common.util" />
		</packages>
	</test>
</suite>