<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="common" verbose="1">
	<test name="concurrent">
		<packages>
			<package name="example.common.concurrent" />
		</packages>
	</test>
	<test name="lang">
		<packages>
			<package name="example.common.lang" />
		</packages>
	</test>
</suite>